html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    font-size:0;
}

.clearfix { *zoom:1;}
    a{
        text-decoration: none;
    }
    ul li{
        list-style:none;
    }
footer {
    width: 100%;
    background-color: #333;
}

.footer-feature .container,
.footer-help .container {
    width: 1190px;
    margin: 0 auto;

}

.zp {
    padding-top: 46px;
    padding-bottom: 42px;
    font-size: 18px;
}

.zp li {
    float: left;
}

.zp li a {
    display: block;
    color: #fff;
    font-size: 18px;
    float: right;
}

.zp li img {
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.zpli {
    margin-left: 50px;
}

.footer-help {
    overflow: hidden;
    width: 100%;
    background: #333;
    border-bottom: 1px solid #666;
}

.guide ul {
    margin-top: 25px;
}

.guide ul li {
    float: left;
    margin-left: 90px;
}

.guide ul .gitem1 {
    margin-left: 0;
}

.dl span {
    color: #fff;
    font-size: 14px;
    display: block;
}

.dl a {
    color: #666;
    font-size: 12px;
    display: block;
}

.dl i {
    color: #666;
    font-size: 12px;
    float: left;
}

.message {
    padding-left: 15px;
}

.nation-left {
    margin-top: 160px;
}

.nation-left li {
    margin-left: 12px;
    float: left;
}

.nation-left li a {
    display: block;
    height: 47px;
    width: 124px;
}

.nation-left li a img {
    width: 100%;
}

.nation-right {
    margin-left: 200px;
    /* padding-top: 65px; */
}

.nation-right li {
    float: right;
}

.nation ul {
    float: left;
}

.nation-right li div {
    width: 120px;
    height: 120px;
    /* line-height: 120px; */
    text-align: center;
    background: #fff;
    margin-bottom: 12px;
}

.appdiv {
    /* float: left; */
    margin-left: 60px;
    /* position: relative; */
}

.appdiv img {
    margin-top: 8px;
}

.nation-right li div span {
    /* text-align: center; */
    font-size: 12px;
    width: 120px;
    color: #fff;
    position: absolute;
    bottom: -138px;
    left: -180px;
}

.nation-right li .wechat,
.nation-right li .appp {
    position: absolute;
    color: #fff;
    font-size: 12px;
    /* top: 0; */
    right: 568px;
}

.nation-right li .appp {
    right: 365px;
}

.friendly {
    margin-top: 25px;
}

.friendly-left li {
    float: left;
}

.friendly-left li a {
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
    display: block;
    /* border-right: 1px solid #ccc; */
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 35px;
    color: #fff;
}

.copyright p a {
    color: #fff;
}
.guide ul li div a:hover{
    color:#fff;
}